TUPLES examples

In [1]:
t = (1,2,3)

In [2]:
mylist = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(mylist)

list

In [7]:
t = ('one',2,5.3,[2,4,'1'])

In [8]:
len(t)

4

In [10]:
t[2]

5.3

In [11]:
t[-1]

[2, 4, '1']

In [12]:
t = ('a','b','c','a','at')

In [13]:
t.count('a')

2

In [14]:
t.index('a')

0

In [15]:
t.index('at')

4

In [16]:
mylist[1] = 'NEW'

In [17]:
mylist

[1, 'NEW', 3]

In [18]:
t[1] = 'NEW'

TypeError: 'tuple' object does not support item assignment