In [1]:
mystring = 'hello'

In [2]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
mylist = [letter for letter in mystring]

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
mylist = [x for x in 'word']

In [7]:
mylist

['w', 'o', 'r', 'd']

In [8]:
phrase = [book for book in "I'm hungry"]

In [9]:
phrase

['I', "'", 'm', ' ', 'h', 'u', 'n', 'g', 'r', 'y']

In [10]:
numseq = [num**2 for num in range(0,11)]

In [11]:
numseq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [13]:
mylist

[0, 2, 4, 6, 8, 10]

In [15]:
celcius = [1,23,30,100]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [16]:
fahrenheit

[33.8, 73.4, 86.0, 212.0]

In [18]:
# the way above is exact same as:

fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

In [19]:
fahrenheit

[33.8, 73.4, 86.0, 212.0]

In [20]:
results = [x if x%2==0 else 'ODD' for x in range(4,12)]

In [21]:
results

[4, 'ODD', 6, 'ODD', 8, 'ODD', 10, 'ODD']

# Nested loop

In [22]:
mylist = []

for x in [2,5,7]:
    for y in [1,4,2]:
        mylist.append(x*y)

In [23]:
mylist

[2, 8, 4, 5, 20, 10, 7, 28, 14]

In [24]:
mylist = []

for x in [1,2,3]:
    for y in [2,5]:
        mylist.append(x*y)

In [25]:
mylist

[2, 5, 4, 10, 6, 15]

In [26]:
mylist = [x*y for x in [1,2,3] for y in [2,5]]

In [27]:
mylist

[2, 5, 4, 10, 6, 15]