In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [3]:
for n in mylist:
    print(n)

1
2
3
4
5
6
7
8
9
10

In [4]:
for n in mylist:
    print('Hello!')

Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!

In [10]:
for num in mylist:
    print(num**num)

1
4
27
256
3125
46656
823543
16777216
387420489
10000000000

In [8]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [21]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

Таб перед print очень важен. Именно таким образом показано, что print находится внутри цикла. Иначе:

In [22]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [17]:
mystring = 'My string'

for letter in mystring:
    print(letter)

M
y

s
t
r
i
n
g

In [18]:
for let in 'DLKJFAO':
    print(let)

D
L
K
J
F
A
O

Указывать переменную, по которой проходит цикл for (например, num, letter и тд), необязательно.
Ниже показано, как можно обойтись без нее:

In [19]:
for _ in "I'm Anna":
    print('lucky me')

lucky me
lucky me
lucky me
lucky me
lucky me
lucky me
lucky me
lucky me

Фраза 'lucky me' повторяется столько раз, сколько символов во фразе "I'm Anna", т.е. 8, включая пробел и '

In [20]:
tup = (11,22,33)

for index in tup:
    print(index)

11
22
33

In [23]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [24]:
len(mylist)

4

In [25]:
type(mylist)

list

In [26]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [27]:
for (a,b) in mylist:
    print(a)

1
3
5
7

Эта операция называется TUPLE UNPACKING.

Чаще всего скобки не указывают:

In [32]:
for a,b in mylist:
    print(a*b)

2
12
30
56

In [35]:
mylist =[(1,2,3),(3,2,1),(8,12,4)]

In [36]:
for a,b,c in mylist:
    print(b)

2
2
12

How to iterate thru a dictionary:

In [38]:
d = {'k1':7,'k2':90,'k3':76}

for key in d:
    print(key)

k1
k2
k3

Notice when we do d: we only iterate by keys.
To iterate on pairs key:value we have to specify d.items():

In [43]:
d = {'k1':7,'k2':90,'k3':76}

for index in d.items():
    print(index)

('k1', 7)
('k2', 90)
('k3', 76)

And to iterate thru values we have to specify d.values():

In [48]:
d = {'k1':7,'k2':90,'k3':76}

for val in d.values():
    print(val)

7
90
76