# RANGE

In [1]:
mylist = [1,2,4]

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(4,8):
    print(num)

4
5
6
7

In [5]:
for num in range(2,11,3):
    print(num)

2
5
8

In [6]:
list(range(1,12,2))

[1, 3, 5, 7, 9, 11]

# ENUMERATE

In [8]:
index_count = 0

for letter in 'adkfjai':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is d
At index 2 the letter is k
At index 3 the letter is f
At index 4 the letter is j
At index 5 the letter is a
At index 6 the letter is i

In [9]:
index_count = 0
word = 'adkfjai'

for letter in word:
    
    print(word[index_count])
    index_count += 1

a
d
k
f
j
a
i

In [11]:
word = 'newword'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
n


1
e


2
w


3
w


4
o


5
r


6
d

# ZIP

In [16]:
mylist1 = [1,2,5,8,4]
mylist2 = ['a','b','c','d','e']
mylist3 = [987, 'w', "dkjfoia",8,1,5]

In [18]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 987)
(2, 'b', 'w')
(5, 'c', 'dkjfoia')
(8, 'd', 8)
(4, 'e', 1)

In [19]:
# If lists contain different amount of elements, then ZIP will only work for the smallet amount

newlist1 = [1,2,5,8,4]
newlist2 = ['a','b','c']

In [20]:
for item in zip(newlist1,newlist2):
    print(item)

(1, 'a')
(2, 'b')
(5, 'c')

In [21]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 987), (2, 'b', 'w'), (5, 'c', 'dkjfoia'), (8, 'd', 8), (4, 'e', 1)]

In [22]:
list(zip(mylist1,newlist2))

[(1, 'a'), (2, 'b'), (5, 'c')]

# IN

In [25]:
'x' in [5,'a',"dfxxxi"]

False

In [26]:
'x' in [1,'x',"dfxxxi"]

True

In [27]:
'a' in 'aklkjfd'

True

In [29]:
'mykey' in {'mykey':98}

True

In [30]:
d = {'mykey':345}

345 in d.keys()

False

In [31]:
d = {'mykey':345}

345 in d.values()

True

# MIN and MAX

In [32]:
mylist = [8,28,2,9,3]

In [33]:
min(mylist)

2

In [34]:
max(mylist)

28

# IMPORT LIBRARIES

In [35]:
from random import shuffle

In [36]:
mylist = [9,5,3,8,2,7,0,2,14,8]

In [39]:
shuffle(mylist)

In [40]:
mylist

[7, 8, 14, 9, 8, 0, 2, 5, 3, 2]

In [41]:
# notice that shuffle doesn't return anything!

random_list = shuffle(mylist)

In [43]:
# random_list doesn't return any result:

random_list

In [44]:
type(random_list)

NoneType

In [45]:
mylist

[2, 8, 14, 5, 0, 2, 7, 8, 3, 9]

In [46]:
from random import randint

In [48]:
randint(99,213)

125

In [49]:
# each time shuffle and randint will give different results

In [50]:
mynum = randint(2,17)

In [51]:
mynum

10

In [53]:
result = input('What is your name? ')

What is your name? Stas

In [54]:
result

'Stas'

In [55]:
num = input('What is your favorite number? ')

What is your favorite number? 21

In [56]:
num

'21'

In [58]:
# notice that INPUT always returns string value even though a number was input

type(num)

str

In [59]:
float(num)

21.0

In [60]:
int(num)

21

In [63]:
# but we can wrap type around input:

num = int(input('What is your favorite number? '))

What is your favorite number? 12

In [64]:
type(num)

int

In [65]:
num

12